body{
  background-image:  url("../img/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;

  font-family: calibri;
}
h1{
  font-family: Ravie;
  text-align: center;
  margin: 50px 0px 50px 0px;
}
p, p2, p3{
  display: block;
}
p{
  margin: 0px;
  font-size: 25px;
}
p2{
  font-size: 20px;
  font-weight: 300;
}
p3{
  font-size: 18px;
  font-weight: 300;
}

#underbanner{
  font-size: 20px;
  margin-bottom: 20px;
  color: #9f005a;
}
#banner{
  display: block;
  margin: 20px auto 0px auto;
  width: 600px;
}

.cleanLink{
  text-decoration: none;
  color: #ffa4d8; /* Specificly meant for the underbanner, not sure I like this. */
}
.winrar{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  
  padding-top: 20px;
  padding-bottom: 20px;

  background: linear-gradient(rgba(116,0,66,1) 0%, rgba(198,1,113,0.25) 100%);
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.2);
}
.frame{
  display: inline;
  position: relative;
}
.winrar:hover{
  color: white;
  cursor: pointer;
}

/* Tourney states */
.pending{
  filter: grayscale();
}

/* Characters */
.rand{
  content: url(../img/anonFrame.png);
  bottom: 30px;
}

.pom{
  content: url(../img/pomFrame.png);
}

.ole{
  content: url(../img/oleFrame.png);
}

.pap{
  content: url(../img/papFrame.png);
}

.tian{
  content: url(../img/tianFrame.png);
  right: 100px;
}

.vel{
  content: url(../img/velFrame.png);
}

.ari{
  content: url(../img/ariFrame.png);
}

.sha{
  content: url(../img/shaFrame.png);
}