<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Players</title>

  <link rel="stylesheet" href="{{ url_for('static',filename='css/players.css') }}">
</head>
<body>
  <h1>Current players on Leaf</h1>
  <div class="playerWrapper">
    <div class="nameCard plyrAri">
      <h2>Player Name | Time | Fighting?</h2> <!-- not sure what data you can pull but i'm assuming you can pull these in. such as the player name, how long they've been in the server and if they're fighting or not. -->
    </div>
    <div class="nameCard plyrOle">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrPom">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrPap">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrTian">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrVel">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrSha">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrAri">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrOle">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrPom">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrPap">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrTian">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrVel">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
    <div class="nameCard plyrSha">
      <h2>Player Name | Time | Fighting?</h2>
    </div>
  </div> <!-- /.playerWrapper -->
</body>
</html>
